
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
$line-height: 32px;

:host {
  .gz-menu-bar {
    background-color: #303030;
    height: 100%;
    .gz-menu-list {
      font-family: Arial, sans-serif;
      list-style-type: none;
      color: #e0e0e0;
      display: flex;
      flex-direction: row;
      padding: 0px;
      height: 100%;
      margin-bottom: 0;
      .gz-menu-section {
        position: relative;
        font-size: 14px;
        line-height: $line-height;
        background-color: #303030;
        padding: 0 10px;
        list-style: none;
        .gz-menu-function {
          color: #303030;
          display: none;
          background-color: #f5f5f5;
          min-width: 250px;
          z-index: 3;
          .gz-action {
            display: flex;
            .gz-keymap {
              margin-left: auto;
            }
            .gz-menu-function-check {
              font-size: 12px;
              margin-top: auto;
            }
          }
          .gz-menu-function-item {
            font-size: 14px;
            padding: 5px 20px;
          }
          .gz-menu-function-item.group-line {
            padding: 0;
            hr {
              margin: 5px 0;
            }
          }
          .gz-menu-function-item.disabled {
            color: #9d9d9d;
            pointer-events: none;
          }
          .gz-menu-function-item.disabled:hover {
              background-color: #4e4f5c;
          }
          .gz-menu-function-item:focus {
            background-color: #e0e0e0;
          }
        }
      }
      .gz-menu-section.active:focus {
        background-color: #4f4f4f;
        .gz-menu-function {
          display: initial;
          position: absolute;
          left: 0;
          top: $line-height;
          max-height: calc(90% - 45px);
          overflow-y: auto;
        }
      }
      .gz-menu-section.active:focus-within {
        background-color: #4f4f4f;
        .gz-menu-function {
          display: initial;
          position: absolute;
          left: 0;
          top: $line-height;
          max-height: calc(90% - 45px);
          overflow-y: auto;
        }
      }
    }
  }
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
