
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
:host {
  .gz-menu-bar {
    background-color: #303030;
    .gz-menu-list {
      font-family: Arial, sans-serif;
      list-style-type: none;
      color: #e0e0e0;
      display: flex;
      flex-direction: row;
      padding: 0px;
      height: 32px;
      margin-bottom: 0;
      .gz-menu-section {
        position: relative;
        font-size: 14px;
        line-height: 32px;
        background-color: #303030;
        padding: 0 10px;
        list-style: none;
        .gz-menu-function {
          color: #303030;
          display: none;
          background-color: #f5f5f5;
          min-width: 250px;
          z-index: 3;
          .gz-menu-function-item {
            font-size: 14px;
            padding: 5px 20px;
          }
          .gz-menu-function-check {
            font-size: 12px;
          }
          .gz-menu-function-item.group-line {
            padding: 0;
            hr {
              margin: 5px 0;
            }
          }
          .gz-menu-function-item:hover {
            background-color: #e0e0e0;
          }
        }
      }
      .gz-menu-section.active:hover {
        background-color: #4f4f4f;
        .gz-menu-function {
          display: initial;
          position: absolute;
          left: 0;
          max-height: 588px;
          overflow-y: auto;
        }
      }
    }
  }
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
