
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
app-menu-bar {
    .gz-menu-bar {
        background-color: $gz-primary;
        .gz-menu-list {
            font-family: Arial, sans-serif;
            list-style-type: none;
            color: $gz-secondary;
            display: flex;
            flex-direction: row;
            padding: 0px;
            height: 32px;
            .gz-menu-section {
                position: relative;
                font-size: 14px;
                line-height: 32px;
                background-color: $gz-primary;
                padding: 0 10px;
                list-style: none;
                .gz-menu-function {
                    color: $gz-primary;
                    display: none;
                    background-color: $gz-secondary-lighter;
                    min-width: 250px;
                    z-index: 3;
                    .gz-menu-function-item {
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                    .gz-menu-function-item.group-line {
                        padding: 0;
                        hr {
                            margin: 5px 0;
                        }
                    }
                    .gz-menu-function-item:hover {
                        background-color: $gz-secondary;
                    }
                }
            }
            .gz-menu-section.active:hover {
                background-color: $gz-primary-lighter;
                .gz-menu-function {
                    display: initial;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
