/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
:host {
  display: block;
  height: 100%;
  #monaco-editor-container {
    height: 100%;
    .monaco-code-editor {
      position:relative;
      width: 100%;
      display:block;
      height: 98%;
      ::ng-deep .editor-container {
        background-color: #212121;
        height: 100%;
      }
    }
    ::ng-deep .highlight-line {
      background-color: yellow;
      color: black;
    }
  }
  .loading-indicator {
    position: absolute;
    font-size: 50px;
    background: transparent;
    left: 50%;
    top: 50%;
    z-index: 1000;
    color: white;
  }
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
