<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->
<zlux-tab-trap></zlux-tab-trap>
<div class="d-flex flex-align-items-start">
  <div>
    <h2 mat-dialog-title>Open Project</h2>
  </div>
  <button mat-dialog-close class="close-dialog-btn"><i class="fa fa-close"></i></button>
</div>
<mat-dialog-content>
  Choose a project:
  <mat-form-field>
    <mat-select [(value)]="selected">
      @for (project of projectList; track project) {
      <mat-option [value]="project">
        {{ project.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button class="right" color="primary" [mat-dialog-close]="selected"
    [disabled]="!selected">Open</button>
</mat-dialog-actions>

<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->