
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
:host {
  display: block;
  margin-top: -32px;
  height: 32px;
  max-height: 32px;
  .tabs-container {
    width: 100%;
    max-height: 32px;
    background-color: #303030;
    .tabs-file-list {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0;
      height: 100%;
      .tabs-file {
        display: inline-block;
        flex-shrink: 0;
        flex-basis: 150px;
        line-height: 22px;
        max-height: 32px;
        padding: 5px 10px;
        color: #e0e0e0;
        border-right: 1px solid #212121;
        white-space: nowrap;
        text-align: left;
        cursor: pointer;
        .filename{
          width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          float: left;
        }
        &.active {
          border-bottom: 3px solid #3f51b5;
        }
        .changed-file {
          text-align: center;
          line-height: 22px;
          font-size: 12px;
          float: right;
          width: 12px;
          height: 12px;
          color: #3f51b5;
          margin-right: 5px;
        }
        .close-file {
          text-align: right;
          line-height: 22px;
          font-size: 16px;
          float: right;
          margin-right: -5px;
          width: 16px;
        }
      }
    }
  }
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
