
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<perfect-scrollbar [config]="scrollConfig" [disabled]="false">
  <div class="tabs-container">
    <ul class="tabs-file-list">
      <li mClick class="tabs-file" [fileContext]="item" [ngClass]="{'active':item.active}" *ngFor="let item of data" (click)="clickHandler($event, item)">
        <span class="filename">{{item.name}}</span>
        <mat-icon class="close-file" (click)="remove.next(item)">clear</mat-icon>
        <mat-icon *ngIf="item.changed" class="changed-file">fiber_manual_record</mat-icon>
      </li>
    </ul>
  </div>
</perfect-scrollbar>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
