<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->
<zlux-tab-trap></zlux-tab-trap>
<div>
  <button mat-dialog-close class="close-dialog-btn"><i class="fa fa-close"></i></button>
  <h2 mat-dialog-title>New File</h2>
</div>
<mat-dialog-content>
  File Name:
  <mat-form-field>
    <input id="name" name="name" required #name="ngModel" [pattern]="FileName_Pattern" matInput type="text"
      placeholder="Name" [(ngModel)]="value">
    @if (value) {
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button class="right" color="primary" [mat-dialog-close]="value"
    [disabled]="!value">Create</button>
</mat-dialog-actions>

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
  -->