
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
mat-dialog-actions {
    justify-content: flex-end;
}

.outer {
    height: 100%;
    background-color: #ffffff;
    display: flex;
}

.container {
    height: 100%;
    max-width: 24em;
    text-align: right;
    flex-direction: column;
    display: flex;
}

.preview {
    flex: auto;
    display: flex;
    border-left: ridge;
    flex-direction: column;
}

.button-row {
    display: flex;
}

.menu-button {
    margin: 0.5em;
    flex: auto;
}

.monaco-editor-preview {
    width: 100%;
    height: calc(100% - 6.25em);
}

.scrolling-list {
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-field {
    width: 100%;
}
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
