
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
  -->
<div class="outer">
  <div class="container">
    <h2>Editor Settings</h2>
    <div class="scrolling-list">
      <div *ngFor="let item of items; index as i">
        <div style="display: flex; margin: 10px 0px 10px 0px" *ngIf="isTypeDropdown(item.type)">
          <mat-form-field class="form-field">
            <mat-label style="margin-right: 10px">{{getName(item)}}</mat-label>
            <mat-select disableRipple="true" [(value)]="items[i].value" (selectionChange)="update(item)">
              <mat-option *ngFor="let value of items[i].values; index as j" [value]="items[i].values[j]">
                {{item.types[j]}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="isTypeNumber(item.type)">
          <mat-form-field class="form-field">
            <mat-label>{{getName(item)}}</mat-label>
            <input matInput type="number" placeholder="item.default" [(ngModel)]="item.value" (ngModelChange)="update(item)">
          </mat-form-field>
        </div>
        <div *ngIf="isTypeString(item.type)">
          <mat-form-field class="form-field">
            <mat-label>{{getName(item)}}</mat-label>
            <input matInput type="text" placeholder="item.default" [(ngModel)]="item.value" (ngModelChange)="update(item)">
          </mat-form-field>
        </div>
        <div *ngIf="isTypeToggle(item.type)">
          <mat-checkbox disableRipple="true" labelPosition="before" [(ngModel)]="items[i].value" (change)="update(item)">{{getName(items[i])}}</mat-checkbox>
        </div>
        <br>
      </div>
    </div>
    <div class="button-row">
      <button mat-raised-button class="menu-button" (click)="applyToPreview()">Preview</button>
      <button mat-raised-button class="menu-button" color="warn" (click)="resetToDefault()">Reset to default</button>
    </div>
    <div class="button-row">
      <button mat-raised-button class="menu-button" color="primary" (click)="commitToConfigService()">Save</button>
    </div>
  </div>
  <div class="preview">
    <h2>JSON Preview</h2>
    <mat-form-field class="form-field" style="height: 100%">
      <textarea matInput placeholder="Monaco JSON Preview" [(ngModel)]="jsonText"></textarea>
    </mat-form-field>
  </div>
</div>
<!--
<mat-dialog-content>
  <p> <b>{{data.fileName}}</b> is currently untagged. Please select a tag for it in USS. </p>
  Encoding:
  <mat-form-field>
    <mat-select placeholder="Select An Encoding" [(ngModel)]="results.encoding">
      <mat-option *ngFor="let option of options" [value]="option">
      {{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="right">Cancel</button>
// The mat-dialog-close directive optionally accepts a value as a result for the dialog.
  <button mat-button mat-stroked-button class="right" color="primary" [mat-dialog-close]="results">Save</button>
</mat-dialog-actions>
-->

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
