
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="file-explorer-container">
  <zlux-file-tree #fileExplorer
    (nodeClick)="onNodeClick($event)"
    (openInNewTab)="onOpenInNewTab($event)"
    (pathChanged)="onPathChanged($event)"
    [style]="{'height': '100%', 'padding-bottom': '100px'}"
  >
  </zlux-file-tree>
</div>



<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
