
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<!--
<div class="open-project" *ngIf="!nodes">
  <span>Open a directory to start your journey!</span>
  <button mat-raised-button class="button-open" color="primary" (click)="openDirectory()">Open Directory</button>
</div>
-->
<div class="file-explorer-container">
  <zlux-file-explorer #fileExplorer
  (nodeClick)="onNodeClick($event)"
  (newFileClick)="onNewFileClick($event)"
  (newFolderClick)="onNewFolderClick($event)"
  (deleteClick)="onDeleteClick($event)"
  (copyClick)="onCopyClick($event)"
  (datasetSelect)="onDatasetSelect()"
  (ussSelect)="onUssSelect()"
  (pathChanged)="onPathChanged($event)"
  [style]="{'height': '100%', 'padding-bottom': '100px'}"
  >
  </zlux-file-explorer>
</div>



<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
