
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
mat-dialog-actions {
    justify-content: flex-end;
}

.mat-form-field {
margin-left: 30px;
}

.align-label {
  margin-left: 36px;
}

.align-encoding {
  margin-left: 34px;
}

.cancel-button {
  border: none;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  background: white;
  color: black;
  outline: 0;
}

.cross-button {
  border: none;
  color: black;
  background: white;
  margin-top: -30px;
  margin-right: -16px;
  outline: 0;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
