<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->
<zlux-tab-trap></zlux-tab-trap>
<div>
  <button mat-dialog-close class="close-dialog-btn"><i class="fa fa-close"></i></button>
  <h2 mat-dialog-title>Save As</h2>
</div>
<mat-dialog-content>
  <label>File Name:</label>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="results.fileName">
  </mat-form-field>
  <p></p>
  <label>Directory:</label>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="results.directory">
  </mat-form-field>
  <p></p>
  <label>Encoding:</label>
  <mat-form-field>
    <mat-select class="select-encoding" tabindex="0" placeholder="Select" [(ngModel)]="results.encoding">
      @for (option of options; track option) {
      <mat-option [value]="option">
        {{option}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button class="right" color="primary" [mat-dialog-close]="results"
    [disabled]="!results.fileName || !results.directory || !results.encoding">Save</button>
</mat-dialog-actions>

<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->