
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="save-as-modal" id="big-yeet">
<tabbing-component [totalTabs]="5"></tabbing-component>
<h2 mat-dialog-title>Save As</h2>
<mat-dialog-content>
  File Name:
  <mat-form-field>
    <input matInput tabindex="0" type="text" placeholder="Enter a file name" [(ngModel)]="results.fileName" id="tab-index-0">
  </mat-form-field>
  <p></p>
  Directory:
  <mat-form-field>
    <input matInput tabindex="1" type="text" placeholder="Enter a directory" [(ngModel)]="results.directory" id="tab-index-1">
  </mat-form-field>
  <p></p>
  Encoding:
  <mat-form-field>
    <mat-select placeholder="Select An Encoding" [(ngModel)]="results.encoding" id="tab-index-2">
      <mat-option *ngFor="let option of options" [value]="option">
      {{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="right" id="tab-index-3">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-stroked-button class="right" color="primary" [mat-dialog-close]="results" id="tab-index-4">Save</button>
</mat-dialog-actions>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
