<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->
<zlux-tab-trap></zlux-tab-trap>
<div>
  <button mat-dialog-close class="close-dialog-btn"><i class="fa fa-close"></i></button>
  <h2 mat-dialog-title>Untagged File Found</h2>
</div>
<mat-dialog-content>
  <p> <b>{{data.fileName}}</b> is currently untagged. Please select a tag for it in USS. </p>
  Encoding:
  <mat-form-field>
    <mat-select class="select-encoding" placeholder="Select An Encoding" [(ngModel)]="results.encoding">
      @for (option of options; track option) {
      <mat-option [value]="option">
        {{option}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button class="right" color="primary" [mat-dialog-close]="results"
    [disabled]=!results.encoding>Save</button>
</mat-dialog-actions>
<!--
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->