  /*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

  /* You can add global styles to this file, and also import other style files.
 * DO NOT use this file when deploying a plugin for MVD. This file will not be
 * loaded inside the desktop. */

  .close-dialog-btn {
    margin-left: auto;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 1rem;
  }

  .mat-simple-snackbar-action button {
    color: #3f51b5;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: flex-end !important;
  }

  ul {
    padding-left: 0px !important;
  }

  .d-flex {
    display: flex;
  }

  .flex-align-items-start {
    align-items: flex-start;
  }

  .flex-justify-content-end {
    justify-content: flex-end !important;
  }

  .w-100 {
    width: 100%;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled),
  .mat-focused {
    background-color: #fff !important;
  }

  .mat-mdc-form-field-focus-overlay,
  .mdc-text-field--focused,
  .mat-mdc-text-field-wrapper:hover {
    background-color: #fff !important;
  }

  .mat-mdc-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    min-height: 30px !important;
  }

  .mdc-text-field {
    padding: 0px 8px !important;
  }

  /*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/